{% extends "organograma/layouts/base.html" %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ orgao.nome }} - TIMES</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/organograma">Organograma</a>
            </li>
            <li class="active">
                <strong>Teams board</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {% for time in orgao.time_set.all %}
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5>IT-0{{time.id}} - {{time.nome}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        {% for time in time.pessoa_set.all %}
                        <a href="#"><img alt="member" class="img-circle" src="/static/img/a1.jpg"></a>
                        {% endfor %}
                    </div>
                    {% if time.projeto_atual %}
                    <h4>{{ time.projeto_atual.natureza }} </h4>
                    <p>
                        {{ time.projeto_atual.texto }}
                    </p>
                    <div>
                        <span>Andamento do Projeto:</span>
                        <div class="stat-percent">  {{ time.projeto_atual.andamento }}%</div>
                        <div class="progress progress-mini">
                            <div style="width:   {{ time.projeto_atual.andamento }}%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-3">
                            <div class="font-bold">Release</div>
                              {{ time.projeto_atual.release }}
                        </div>
                        <div class="col-sm-3">
                            <div class="font-bold">RANKING</div>
                            1th
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="font-bold">CUSTO</div>
                            R$  {{ time.projeto_atual.custo }} <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}

