{% extends "organograma/layouts/base.html" %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Secretaria de Tecnologia da Informação e Comunicação</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <strong>STIC</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                {% if secretaria.foto %}
                <img alt="image" class="img-circle circle-border m-b-md" src="data:image/png;base64, {{ secretaria.get_foto }}"/>
                {% else %}
                <img alt="image" class="img-circle circle-border m-b-md" src="/static/img/profile.jpg">
                {% endif %}
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ secretaria.responsavel }}
                        </h2>
                        <h3>{{ secretaria.nome }}</h3>
                        <small>
                            {{ secretaria.texto }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>142</strong> Projects
                    </td>
                    <td>
                        <strong>22q</strong> Followers
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>61</strong> Comments
                    </td>
                    <td>
                        <strong>54</strong> Articles
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>154</strong> Tags
                    </td>
                    <td>
                        <strong>32</strong> Friends
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>ASSESSOR A1</small>
            <!--<h2 class="no-margins">0</h2>-->
            <div id="sparkline1"></div>
        </div>

</div>

    <div class="row">
        {% if orgaos %}
            {% for orgao in orgaos %}
            <div class="col-lg-4">
                <div class="contact-box">
                    <a href="{% url 'times' orgao.id %}">
                        <div class="col-sm-4">
                            <div class="profile-image">
                                {% if orgao.foto %}
                                <img alt="image" class="img-circle m-t-xs img-responsive"src="data:image/png;base64, {{ orgao.get_foto }}"/>
                                {% else %}
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="/static/img/a8.jpg">
                                {% endif %}
                                <!--<div class="m-t-xs font-bold">{{ orgao.funcao }}</div>-->
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>{{ orgao.nome }}</strong></h3>
                            <p><i class="fa fa-map-marker"></i> {{ orgao.local }}</p>
                            <address>
                                <strong>{{ orgao.responsavel }}</strong><br/>
                                <i class="fa fa-phone"></i> (123) 456-7890<br/>
                                {% if orgao.email %}
                                <i class="fa fa-envelope-open"></i> {{orgao.email}}
                                {% endif %}

                            </address>
                            <!--<div class="m-t-xs font-bold">{{ orgao.funcao }}</div>-->
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p>Nenhum Orgão cadastrado.</p>
        {% endif %}

    </div>
</div>

{% endblock %}