{% extends "organograma/layouts/base.html" %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-sm-4">
        <h2>Project detail</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/organograma">STIC</a>
            </li>
            <li>
                <a href="javascript:history.back()">Voltar</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Detalhes do Projeto</strong>
            </li>
        </ol>
    </div>

</div>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="#" class="btn btn-white btn-xs pull-right">Editar</a>
                                <h2>{{ projeto.nome }}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd><span class="label label-primary">{{ projeto.status }}</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Cordenador:</dt>
                                <dd>{{ projeto.cordenador }}</dd>
                                <dt>Natureza:</dt>
                                <dd><span class="label label-primary">{{ projeto.natureza }}</span></dd>
                                <dt>Lider:</dt>
                                <dd>{{ projeto.lider }}</dd>
                                <dt>Version:</dt>
                                <dd>{{ projeto.release }}</dd>
                                <dt>Próxima Release:</dt>
                                <dd>{{ projeto.next_release}}</dd>
                                {% if gl_project.open_issues_count %}
                                <dt>Tarefas abertas</dt>
                                <dd>{{gl_project.open_issues_count}}</dd>
                                {% endif %}
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Project Owner:</dt>
                                <dd><a href="#" class="text-navy"> {{ projeto.responsavel }}</a></dd>
                                <dt>Ultima Atualização:</dt>
                                <dd>{{ projeto.updated_at }}</dd>
                                <dt>Participantes:</dt>
                                <dd class="project-people">
                                    {% for pessoa in projeto.pessoa_set.all %}
                                    {% if pessoa.foto %}
                                    <a href="/organograma/perfil/{{pessoa.id}}"><img alt="member" class="img-circle" src="data:image/png;base64, {{ pessoa.get_foto }}"/></a>
                                    {% else %}
                                    <a href="/organograma/perfil/{{pessoa.id}}"><img alt="member" class="img-circle" src="/static/img/a2.jpg"/></a>
                                    {% endif %}
                                    {% endfor %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: {{projeto.andamento}}%;" class="progress-bar"></div>
                                    </div>
                                    <small>O Projeto completou <strong>{{projeto.andamento}}%</strong> do andamento para sua próxima release.</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Tarefas</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab">Atualizações</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                                {% for event in events%}
                                                {% if event.target_type == 'Issue' %}
                                                <div class="feed-element">
                                                    <a href="#" class="pull-left">
                                                        <img alt="image" class="img-circle" src="{{event.author.avatar_url}}">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="pull-right">
                                                            <span class="label label-primary">{{event.action_name}}</span>
                                                        </small>
                                                        <strong>{{event.author.name}}</strong>:  {{event.target_title}} <br>
                                                        <small class="text-muted">{{event.created_at}}</small>
                                                        {% if event.note %}
                                                        <div class="well">
                                                            {{event.note.body}}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endif%}
                                                {% endfor %}
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <div class="feed-activity-list">
                                                {% for event in events%}
                                                {% if event.action_name == 'commented on' %}
                                                <div class="feed-element">
                                                    <a href="#" class="pull-left">
                                                        <img alt="image" class="img-circle" src="{{event.author.avatar_url}}">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="pull-right">
                                                            <span class="label label-primary">{{event.target_type}}</span>
                                                        </small>
                                                        <strong>{{event.author.name}}</strong>:  {{event.target_title}} <br>
                                                        <small class="text-muted">{{event.created_at}}</small>
                                                        {% if event.note %}
                                                        <div class="well">
                                                            {{event.note.body}}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endif%}
                                                {% endfor %}
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <h4> Project Owner </h4>
            <a href=""><img alt="image" class="img-circle" src="/static/img/a1.jpg"></a>
            <p class="">
                {{gl_project.description}}
            </p>
            <p class="small font-bold">
                <span><i class="fa fa-circle text-warning"></i> Alta prioridade</span>
            </p>
            <!--
            <h5>Project tag</h5>
            <ul class="tag-list" style="padding: 0">
                <li><a href=""><i class="fa fa-tag"></i> Zender</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Passages</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Variations</a></li>
            </ul>
            -->
            <h5>Informações</h5>
            <ul class="list-unstyled project-files">
                <li><a href=""><i class="fa fa-envelope-open"></i> {{projeto.email}}</a></li>
                <li><a href=""><i class="fa fa-phone"></i> {{projeto.telefone}}</a></li>
                <li><a href=""><i class="fa fa-building"></i> {{projeto.local}}</a></li>
                <li><a href=""><i class="fa fa-bars"></i> {{gl_project.name}}</a></li>
                <li><a href=""><i class="fa fa-file-picture-o"></i> {{gl_project.name_with_namespace}}</a></li>
            </ul>
            <!--<div class="text-center m-t-md">-->
                <!--<a href="#" class="btn btn-xs btn-primary">Add files</a>-->
                <!--<a href="#" class="btn btn-xs btn-primary">Report contact</a>-->

            <!--</div>-->
        </div>
    </div>
</div>

{% endblock %}